* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  font-family: "Permanent Marker", cursive;
}

html {
  font-size: 62.5%;
  --header1: calc(2rem + 1vw);
  --header2: calc(3.5rem + 1vw);
  --header3: calc(3rem + 1vw);
  --header4: calc(2.4rem + 1vw);
  --text: calc(2.5rem + 1vw);
  --big: calc(2.4rem + 1vw);
  --special-color: #906272;
  --background-color: #414141;
  --grey-text: #525252;
}

p {
  font-family: sans-serif;
}

ul {
  font-size: var(--big);
}

h1 {
  font-size: var(--header1);
}

li,
button,
label,
input,
p,
a {
  font-size: var(--text);
}

h2 {
  font-size: var(--header2);
}

h3 {
  font-size: var(--header3);
}

h4,
h5 {
  font-size: var(--header4);
}

a {
  text-decoration: none;
  color: #000;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
}

/* nav */

nav {
  min-height: 10vh;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px 12px;
  background: #fff;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  flex: 1 1 20rem;
}

#logo {
  flex: 1 1 20rem;
}

.hero {
  min-height: 90vh;
  width: 95%;
  margin: 0 0 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.hero-introduction {
  flex: 3 1 40rem;
  text-align: center;
}

.hero-introduction p {
  padding: 5rem 10rem;
}

.hero-introduction h2 {
  padding-top: 3rem;
}

.hero-introduction a {
  padding: 2rem 8rem;
  border: 3px solid #000;
  margin-bottom: 4rem;
}

.hero-images {
  flex: 1 1 40rem;
}

.hero-pose {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nav-open {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 50vh;
  background: #fff;
  z-index: 1;
  color: #000;
  display: flex;
  justify-content: space-around;
  flex: 1 1 20rem;

  transform: translateY(-100%);
}

.contact {
  grid-column: 2/3;
}

.nav-open h3 {
  font-size: 28px;
  padding-bottom: 40px;
}

.nav-open p {
  font-size: 18px;
}

.social-links img {
  padding: 0px 20px;
}

.Logo,
.menu {
  z-index: 2;
}

.menu {
  cursor: pointer;
}

.portfolio {
  color: #fff;

  background: #fff;
}
